body {
  background-color: #000;
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
#landing-header h1 {
  color: #fff;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://scontent.fccu7-1.fna.fbcdn.net/v/t1.0-9/51051946_2587285654620903_4119286567904739328_n.jpg?_nc_cat=111&_nc_sid=110474&_nc_ohc=fGXZ35MnKKYAX8HfRyj&_nc_ht=scontent.fccu7-1.fna&oh=9a450db933e0f3a97043676af2b05244&oe=5EDDA9CC);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://scontent.fpat3-1.fna.fbcdn.net/v/t1.0-9/64639453_2825344124148387_3748031544753651712_n.jpg?_nc_cat=101&_nc_oc=AQndt1CD5uHw7aaqiYyUIh4R4GyvxgEaoPnnVDPXNnC2fkSWtm5SgLJ9wRXK2A3KBs7Re_8CL9ZVVFyYHKBjtG7W&_nc_ht=scontent.fpat3-1.fna&oh=3204b05da4676bbe07629a208b44b4d9&oe=5DBF49D0);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}